@model IEnumerable<Triopod.Models.Enquiry>

@{
    ViewBag.Title = "ViewEnquiry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ViewEnquiry</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EnquiryId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EnquiryId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EnquiryId })
        </td>
    </tr>
}

</table>
