<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Triopod Technology:Website Development:Web Design:Website Maintenance:SMO:Software Development:Webpage Customizations:SEO
        and Internet Marketing:E-commerce:Project Consulting
    </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body style="background-image: url(~/Content/Images/body.png)">
    <!--NAVBAR-->

    <nav class="navbar navbar-expand-lg navbar-light wow fadeIn bg-light" data-wow-duration="3s" data-wow-delay="1s" id="">
        <a class="navbar-brand p-0 mr-5" href="index.html">
            <img src="~/Content/images/logo.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    @Html.ActionLink("Home", "Index","Home", null, new { @class = "nav-link btn-danger text-white" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("About Us", "Index", "Aboutus", null, new { @class = "nav-link btn-outline-orange" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Services", "Index", "Services", null,  new { @class = "nav-link btn-outline-orange" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Products", "Index", "Product", null, new { @class = "nav-link btn-outline-orange" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Portfolio", "Index", "Portfolio", null, new { @class = "nav-link btn-outline-orange" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Carrers", "Index", "Carrer", null, new { @class = "nav-link btn-outline-orange" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Contact Us", "Index", "Contact", null, new { @class = "nav-link btn-outline-orange" })
                </li>

            </ul>
            <li class="navbar-nav mr-auto">
                @Html.ActionLink("Live Project", "Index", "Project", null, new { @class = "nav-link btn btn-outline-orange mr-auto wow bounce"})
            </li>
        </div>
    </nav>
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <!--Footer-->
            <div id="footer" class="bg-dark text-white p-3 wow bounceInDown">
                <div class="container">
                    <div class="row">
                        <div class="col-6-md pr-3 wow fadeInDown" data-wow-duration="2s" data-wow-delay="1s">
                            <h5>Development Services</h5>
                            <br>
                            <p>
                                Website / Web Development Application Development
                                <br> Automation Solution Project Consulting Web Portal
                                <br> Development e-Commerce Portal Web Product
                                <br> Development e-Commerce Portal Database Development
                                <br> Android Apps Development
                                <br>
                            </p>
                            <h5>Online Promotion Services</h5>
                            <p>
                                <br> Search Engine Optimzation Off-Page Submissions SEM /
                                <br> PPC Marketing Internet Marketing PR / Article Distribution
                            </p>
                        </div>
                        <div class="col pr-3 wow fadeInDown" data-wow-duration="2s" data-wow-delay="1s">
                            <h5>Latest News</h5>
                            <br>
                            <p>
                                Don't Have Website ? If you have business, promote it through attractive & professional website. Get
                                a Complete 5 Page Dynamic Website for just 5,999/- only.
                            </p>
                            <p class="text-orange">
                                <b> No Hidden charges, Only one time Investment Hurry ! offer Limited Period!</b>
                            </p>
                        </div>
                        <div class="col wow fadeInDown" data-wow-duration="2s" data-wow-delay="1s">
                            <h5>Visit us </h5>
                            <br>
                            <p>
                                <a class="text-white" href="index.html">
                                    <i class="fas fa-home text-white mr-1"></i>Triopod Pvt. Ltd.
                                </a>
                                <br> WA 120A Shakarpur
                                <br> New Delhi, INDIA - 110092
                            </p>
                            <h5 class="wow fadeIn" data-wow-duration="3s" data-wow-delay="2s">Follow Us</h5>
                            <i class="fab fa-facebook text-white fa-2x m-1"></i>
                            <i class="fab fa-twitter-square text-white fa-2x m-1"></i>
                            <i class="fab fa-youtube text-white fa-2x m-1"></i>
                            <i class="fab fa-google-plus text-white fa-2x m-1"></i>
                            <h4 class="wow fadeInUp text-danger" data-wow-duration="3s" data-wow-delay="2s"></h4>
                        </div>
                    </div>
                </div>
            </div>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    <script>
        new WOW().init();
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
